*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

}
.padre{
 display: flex;
 flex-flow: column nowrap ;
}

.header{
    background: #000;
    display: flex;
    flex-flow: column nowrap
}
  .menu{
    background: #007F73;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;

  }
    .logo{
       background: #4CCD99;
       flex: 1 1 auto;
       height: 30px;
       animation-name: mianimacion;
       animation-duration: 0,5s;
       position: relative;
       animation-direction: normal;
       animation-timing-function: ease;
    }
    .nav{
        background: #4CCD99;
        flex: 5 1 auto;
        height: 30px;
    }
    .social{
        background: #4CCD99;
        flex: 1 1 auto;
        height: 30px;
    }
    .logo:hover {
      background: #186445;
      animation-name: hoverAnim;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  .texto-principal{
    background: #FFC700;
  } 
  h1{
    background: #FFF455;
  } 
.section{
    background: black;
    display: flex;
}
  .articulos{
    background: #FFA62F;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    
  }
    .article{
        background: #703888;
        flex: 1 1 40%;
    }
    .navegacion{
        background: #FFE8C8;
        flex: 1 1 100%;
    }
    .aside{
        background: #5A639C;
        flex: 1 1 auto;
    }
      .publicidad{
        background: #9B86BD;
      }

.footer{
background: rgb(6, 6, 6);
display: flex;
justify-content: center;
} 
  .pie{
    background: #E2BBE9;
    width: 300px;
  }

  @media all and (max-width: 800px){
    .section{
      flex-direction: column;
    }
    .menu{
      flex-direction: column;
      height: auto;
    }
    /* .menu div{
      flex-basis: 100%;
    } */
    .logo, .nav, .social{
      flex: 1 0 auto;
      width: 100%;
    }
  }

  @media all and (max-width: 600px){
    .articulos{
      flex-direction: column;
    }
  }
  body {
    background-color: white; 
}

@media all and (min-width: 801px) {
  body {
      background-color: rgb(227, 240, 244); 
  }
}
@media all and (min-width: 601px) and (max-width: 800px) {
  body {
      background-color: lightgreen; 
  }
}

@media all and (max-width: 600px) {
  body {
      background-color: lightcoral; 
  }
}
@keyframes mianimacion {
  0% {
      
      transform: scale(1);
      background-color: #4CCD99;
  }

  100% {
      
      transform: scale(1.2);
      background-color: #4CCD99;
  }
}

@keyframes hoverAnim {
  0% {
      transform: scale(1);
      background-color: #4CCD99;
  }

  100% {
      transform: scale(1.2);
      background-color: #7cf182;
  }
}



